h3{
  text-align: center;
  font-size: 24px;
  color: #285998;
}

.information{
  width: 93%;
  max-width: 430px;
  margin: 27px auto 0;
  background: #f5f5f5;
  padding: 25px 0;
  text-align: center;
}

.information-inner{
  display: inline-block;
}

.information-text{
  text-align: left;
  font-size: 16px;
  text-indent: -1em;
  padding-left: 1em;
  line-height: 1.5em;
}

.map-title{
  margin-top: 40px;
}

.map{
  margin: 27px auto 0;
}