extends ../_layouts/default

block vars
  -title        = 'メッセージ | 株式会社スカイウイル 採用サイト'
  -description  = '株式会社スカイウイルに就職を希望される皆さまへのトップメッセージをご紹介します。'
  -keywords     = 'トップメッセージ,採用,中途,インフラ・クラウド構築,アプリケーション開発,システム構築,テクニカルサポート,ITコンサルティング,ソフトウェア品質保証,スカイウイル,skywill'
  -bodyClass    = 'page-message'
  -path         = '..'

block container
  .main
    .breadcrumb.animated
      ul
        li
          a(href=path+"/") TOP
        li
          span メッセージ
          
    h1.page-title.animated
      span.line
      span.title
        small Message
        strong メッセージ

    section.section-message
      h2.sec-title-message.animated
        strong 「自分の理想を実現する」
        small スカイウイルはあなたの理想を実現できる、<br>心地よい会社でありたい。
      .sec-inner
        .wrapper
          .txt.text-center
            p.animated 皆さんはじめまして！スカイウイルに興味を持って頂き、ありがとうございます。
            p.animated さて、突然ですが皆さんは、自分の将来に対してどれくらいワクワクしていますか？どんな夢を持っていますか？どんな働き方をすれば自分らしい生き方だと実感できると思いますか？
            p.animated 人材が活発に流動化しているIT業界で過ごしてきた私が、会長として会社の成長にもっとも大切であると確信していることがあります。それは「会社にとって成長の源泉である利益を産み出し、価値を上げてくれるのは、そこで働く人たちである」ということです。同時にその人たちが常にイキイキ・ワクワクして仕事に取り組める環境と、そこで長く活躍してもらう土台づくりこそが会社の使命であるということも学んできました。
            p.animated 一緒に働く仲間がイキイキ・ワクワクして仕事に取り組める環境の中では、人は自ずと仕事に対して自分なりのこだわりを持ちつつ、努力や粘り強さを持って前向きに取り組むようになります。
            p.animated 仕事を前向きに「やりたい」という気持ちは、みなさんが思い描くキャリアプランにそうことはもちろんですが、仕事だけでなく、やりがいを持てる環境や達成を分かち合える仲間、家族やプライベートの充実など、みなさんが「今」に満足できて、「将来」に期待が持てるようになることが重要だと考えています。
            p.animated ITサービスを提供するスカイウイルにとって、「人材は最も重要な財産」です。<br>ですので、スカイウイルで働く全ての人の理想・価値観・嗜好などの把握に時間を費やし、全ての人にやりがいや満足を感じてもらえる環境を、一緒に創り上げていきたいと思います。
            p.animated 未熟なところもあるかもしれません。仕事も楽しいものばかりではないとも思います。<br>そんな時は、一緒にじっくり話し合い、一緒に試行錯誤していきましょう！<br>そうやって、「あなたが心地よく感じる会社」を共に創り上げていきたいと思います。
            p.animated スカイウイルの社員には、やりたい仕事に取り組み、公私共に充実した毎日を過ごしてもらいたい。<br>そのために、一緒に悩み、一緒に努力し、共に成長・成功していきたいと願っています。
            p.animated わたしたちの考えに共感し、一緒に頑張って頂ける方との出会いを期待しています。
            
            .button.animated
              a.btn-more(href="./person.html") スカイウィルが求めている人／向かない人

            .director.animated
              .info
                p.position 代表取締役会長
                p.name 長谷川恵三
              .thumb
                img(src="../img/message/director.jpg", alt="長谷川恵三")
