extends ../_layouts/default

block vars
  -title        = 'インフラ・クラウド構築 | スカイウィルの仕事 | 株式会社スカイウイル 採用サイト'
  -description  = '株式会社スカイウイルに就職を希望される皆さまへ、インフラ・クラウド構築をご紹介します。'
  -keywords     = 'インフラ・クラウド構築,採用,中途,インフラ・クラウド構築,アプリケーション開発,システム構築,テクニカルサポート,ITコンサルティング,ソフトウェア品質保証,スカイウイル,skywill'
  -bodyClass    = 'page-works-cloud'
  -path         = '..'

block container
  .main
    .breadcrumb.animated
      ul
        li
          a(href=path+"/") TOP
        li
          a(href=path+"/works") スカイウイルの仕事
        li
          span インフラ･クラウド構築

    h1.page-title.animated
      span.line
      span.title
        small IT Infrastructure Engineering
        strong インフラ･クラウド構築

    section.section-works-cloud
      .heading.animated
        p.desc クラウド・インフラ技術のエキスパートを目指す<br class="sm">方、<br class="md">マネジメントを目指す方、<br>プロジェクトマネージャを目指す方それぞれに適し<br class="sm">た業務をお任せ致します。
        img.banner.md(src=path+"/img/works/cloud_banner.jpg", alt="クラウド・インフラ技術のエキスパートを目指す方、マネジメントを目指す方、プロジェクトマネージャを目指す方それぞれに適した業務をお任せ致します。")
        img.banner.sm(src=path+"/img/works/sp/cloud_banner.jpg", alt="クラウド・インフラ技術のエキスパートを目指す方、マネジメントを目指す方、プロジェクトマネージャを目指す方それぞれに適した業務をお任せ致します。")
      .article.bg-gray.animated
        .wrapper
          h2.sec-title-general
            strong サービス概要
            small Service overview
          .content
            p このクラウドコンピューティング分野（仮想化構築）は、インターネットのインフラにおいて、急速な成長が見込まれている分野です。<br>
              | この業務に求められるものは、構築経験、技術力、そして、お客さまのご要望に全力で対応するビジネス姿勢です。それらの能力があれば、お客様から様々なことを任せてもらえる環境となっており、自身のスキル・キャリアアップにとっても、非常に良い職場環境と考えます。
      .article.animated
        .wrapper
          h2.sec-title-general
            strong 多様化するお客様のニーズにスピーディに応える技術力と、<br>幅広い技術分野への対応力
            small Technological capabilities and responsiveness
          .content
            p クラウドを取り巻く技術（ネットワーク・仮想化・セキュリティ・ストレージ）が高度化・多様化するにつれて、お客様企業にとってはそれら最新の技術をいかに効率的にそして安全・セキュアに自社に取り入れていくかが大きな課題になっています。<br>
              | 一方、お客様企業の情報システム部門は、幅広い業務を限られた人員でカバーしなくてはならず、クラウド基盤整備まで手が回らないのが現状と思われます。このようなお客様企業に対して、スカイウイルはサービスを実施するだけでなく、最新技術の把握と豊富な構築実績により、企業インフラの発展を将来にわたって支えていくクラウド技術の専門家、信頼できるパートナーとなることを目指しています。

      .article.bg-gray.animated
        .wrapper
          h2.sec-title-general
            strong ”スピーディ、かつ、正確だね”と言われる仕事ぶりを。
            small Speedy and accurate
          .content
            p 実際の業務においては、多くのスタッフが、官庁、有名企業、大学等様々なお客様のご要望に合わせたインフラ・クラウド構築を行っています。その際、心がけていることは、"スピーディ、かつ、正確だね"とお客様に声をかけてもらえるようにすることです。（そう言ってもらえると、充実感や達成感が湧いてきます。）<br>
              | 日本経済を支える一流企業に対して、責任のある仕事ができるスカイウイルのSEは、社会に対して貢献しているという実感が持てる職業です。
      .article.animated
        .wrapper
          h2.sec-title-general
            strong 知的向上心のある方を希望
            small Hope for those with intellectual amenity
          .content
            p.lead 少しでも当てはまる方、ぜひスカイウイルにご応募
            p 最新技術を含め、常に技術力向上に向けて取り組む意欲のある方<br>
              | お客様やパートナとのコミュニケーションに積極的で、調整や提案を実施できる、もしくはやってみたい方<br>
              | インフラクラウドに関する設計・構築フェーズに携わってみたい方
          .button.animated
            a.btn-entry(href="#") エントリーはこちらから