extends ../_layouts/default

block vars
  -title        = 'アプリケーション開発 | スカイウィルの仕事 | 株式会社スカイウイル 採用サイト'
  -description  = '株式会社スカイウイルに就職を希望される皆さまへ、アプリケーション開発をご紹介します。'
  -keywords     = 'アプリケーション開発,採用,中途,インフラ・クラウド構築,アプリケーション開発,システム構築,テクニカルサポート,ITコンサルティング,ソフトウェア品質保証,スカイウイル,skywill'
  -bodyClass    = 'page-works-cloud'
  -path         = '..'

block container
  .main
    .breadcrumb.animated
      ul
        li
          a(href=path+"/") TOP
        li
          a(href=path+"/works") スカイウイルの仕事
        li
          span アプリケーション開発

    h1.page-title.animated
      span.line
      span.title
        small Application Development
        strong アプリケーション開発

    section.section-works-cloud
      .heading.animated
        p.desc ビジネススピードに対応できるシステム開発
        img.banner.md(src=path+"/img/works/cloud_banner.jpg", alt="アプリケーション開発")
        img.banner.sm(src=path+"/img/works/sp/cloud_banner.jpg", alt="アプリケーション開発")
      .article.bg-gray.animated
        .wrapper
          h2.sec-title-general
            strong サービス概要
            small Service overview
          .content
            p ビジネススピードが著しく早くなっている昨今において、システム開発における要求レベルは一段と高いものになってきています。<br>
              | スカイウイルでは、単にお客様のご要望をシステム化するのではなく、お客様のビジネスに貢献することをゴールとしております。
      .article.animated
        .wrapper
          h2.sec-title-general
            strong 顧客ビジネスの視点から提案できるエンジニア集団
            small Technological capabilities and responsiveness
          .content
            p 第3のプラットフォームビジネス（クラウド/モビリティ/ビッグデータ/ソーシャル技術）は大きな成長が見込まれています。今まで培ってきた、Java/PHP/MySQLなどのオープン系の要素技術に加え、Hadoop/MapReduce/NoSQLデータベースなどを積極的に活用したシステム構築に強みを持っています。<br>
              | また、各プロジェクトでは、アジャイル型の開発スタイルにもチャレンジし、お客様から高い評価を得ています。
      .article.bg-gray.animated
        .wrapper
          h2.sec-title-general
            strong 第二の創業期をエンジニア力で切り拓く
            small Speedy and accurate
          .content
            p 実際の業務においては、多くのスタッフが、官庁、有名企業、大学等様々なお客様のご要望に合わせたインフラ・クラウド構築を行っています。その際、心がけていることは、"スピーディ、かつ、正確だね"とお客様に声をかけてもらえるようにすることです。（そう言ってもらえると、充実感や達成感が湧いてきます。）<br>
              | 日本経済を支える一流企業に対して、責任のある仕事ができるスカイウイルのSEは、社会に対して貢献しているという実感が持てる職業です。
      .article.animated
        .wrapper
          h2.sec-title-general
            strong エンジニアとしての高い志を持っている方、<br class="md" />これからもっとエンジニア力を高めたい方を希望
            small Hope for those with intellectual amenity
          .content
            p.lead 少しでも当てはまる方、ぜひスカイウイルにご応募
            p エンジニアとして、明確な強いWILLを持っている方<br>
              | ビジネス意識・意欲の高い方<br>
              | 技術的障壁を自身で調査して乗り越えられる方
          .button.animated
            a.btn-entry(href="#") エントリーはこちらから