extends ../_layouts/default

block vars
  -title        = '募集要項 | 株式会社スカイウイル 採用サイト'
  -description  = '株式会社スカイウイルに就職を希望される皆さまへ、募集要項についてご紹介します。'
  -keywords     = '募集要項,採用,中途,インフラ・クラウド構築,アプリケーション開発,システム構築,テクニカルサポート,ITコンサルティング,マーケティングサービス,スカイウイル,skywill'
  -bodyClass    = 'page-faq'
  -path         = '..'

block container
  .main
    .breadcrumb.animated
      ul
        li
          a(href=path+"/") TOP
        li
          span 募集要項
          
    h1.page-title.animated
      span.line
      span.title
        small Application
        strong 募集要項
    
    section.section-info
      .sec-inner.wrapper
        .menu.animated#menu-info
          a.btn(href="#tab01").active キャリア採用
          a.btn(href="#tab02") 新卒採用
        .content-info.animated#content-info
          .tab-content#tab01
            table.table-info
              tr
                th 募集要項（キャリア採用）勤務地
                td
                  | 本社またはお客様先（東京、神奈川、千葉、埼玉＝本人希望優先）<br>
                  | ※プロジェクトによって勤務地が異なります。
              tr
                th 勤務時間
                td
                  | 9:30～18:00（所定労働時間7時間30分、休憩60分）<br>
                  | ※勤務先により異なります。<br>
                  | ※月間平均残業時間は20時間程度です。
              tr
                th 給与
                td
                  | 月給25万円～60万円以上（実績、経験、能力を考慮）<br>
                  | ※規定労働時間を超えた場合、その超過分を加算支給します。<br>
                  | モデル月収例<br>
                  | 30歳　マネージャ：　月給425,000円<br>
                  | （基本給282,630円、役割給125,000円、みなし残業代17,370円※1）<br>
                  | ※1：深夜・休日労働時間が月30時間を超える場合は、その超過分が追加支給。<br>
                  | 28歳　入社3年　リーダ：　月給305,000円<br>
                  | （基本給295,000円、役割給10,000円、みなし残業代59,900円※2)<br>
                  | ※2：残業時間が月30時間を超える場合は、その超過分が追加支給。
              tr
                th 昇給・賞与
                td
                  | ◇昇給年2回（6月・12月）<br>
                  | ◇賞与年2回（特別賞与有り）
              tr
                th 休日・休暇
                td
                  | 完全週休2日制（土、日、祝祭日）、年末年始、年次有給休暇、夏期休暇、慶弔休暇、ドナー休暇、ボランティア休暇、マタニティ休暇、障がい者通院休暇、育児・介護休業、育自休業<br>
                  | ※常駐先により変動します。
              tr
                th 待遇・福利厚生
                td
                  | ◇交通費全額支給<br>
                  | ◇みなし残業代＋残業代支給（規定時間外労働30時間を超えた場合）<br>
                  | ◇役割給<br>
                  | ◇深夜勤務手当<br>
                  | ◇資格取得支援制度<br>
                  | ◇企業年金（確定拠出年金）制度<br>
                  | ◇遺族年金制度<br>
                  | ◇慶弔見舞金（第三子出産祝金増額）<br>
                  | ◇各種社会保険完備（雇用・労災・健康・厚生年金）<br>
                  | ◇定期健康診断<br>
                  | ◇各種研修制度（研修・勉強会には軽食付）<br>
                  | ◇社員定例総会<br>
                  | ◇優秀社員表彰<br>
                  | ◇関東IT健保組合の全国福利厚生施設利用可能<br>
                  | ◇社内企画イベント随時開催　など
            .button
              a.btn-entry(href="#") エントリーはこちらから

          .tab-content#tab02
            table.table-info
              tr
                th 募集要項（新卒採用）勤務地
                td
                  | 本社またはお客様先（東京、神奈川、千葉、埼玉＝本人希望優先）<br>
                  | ※プロジェクトによって勤務地が異なります。 
              tr
                th 勤務時間
                td
                  | 9:30～18:00（所定労働時間7時間30分、休憩60分）<br>
                  | ※勤務先により異なります。<br>
                  | ※月間平均残業時間は20時間程度です。
              tr
                th 給与
                td
                  | 大学院了：月給260,000円(基本給209,000円、みなし残業代51,000円※)<br>
                  | 大学卒　：月給230,000円(基本給184,800円、みなし残業代45,200円※)<br>
                  | 他＊　　：月給200,000円(基本給160,700円、みなし残業代39,300円※)<br>
                  | ＊「短大卒」「高専卒」「専門学校卒」「既卒」「大学中退」<br>
                  | ※残業時間が月30時間を超える場合は、その超過分が追加支給。
              tr
                th 昇給・賞与
                td
                  | ◇昇給年2回（6月・12月）<br>
                  | ◇賞与年2回（特別賞与有り）
              tr
                th 休日・休暇
                td
                  | 完全週休2日制（土、日、祝祭日）、年末年始、年次有給休暇、夏期休暇、慶弔休暇、ドナー休暇、ボランティア休暇、マタニティ休暇、障がい者通院休暇、育児・介護休業、育自休業<br>
                  | ※常駐先により変動します。
              tr
                th 待遇・福利厚生
                td
                  | ◇交通費全額支給<br>
                  | ◇みなし残業代＋残業代支給（規定時間外労働30時間を超えた場合）<br>
                  | ◇役割給<br>
                  | ◇深夜勤務手当<br>
                  | ◇資格取得支援制度<br>
                  | ◇企業年金（確定拠出年金）制度<br>
                  | ◇遺族年金制度<br>
                  | ◇慶弔見舞金（第三子出産祝金増額）<br>
                  | ◇各種社会保険完備（雇用・労災・健康・厚生年金）<br>
                  | ◇定期健康診断<br>
                  | ◇各種研修制度（研修・勉強会には軽食付）<br>
                  | ◇社員定例総会<br>
                  | ◇優秀社員表彰<br>
                  | ◇関東IT健保組合の全国福利厚生施設利用可能<br>
                  | ◇社内企画イベント随時開催　など
            .button
              a.btn-entry(href="#") エントリーはこちらから